/*formatting*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .6s;
}

.container {
    max-width: 1920px;
    width: 100%;
    left: auto;
    right: auto;
}

/*Header*/

#header {
    margin: 0px 20px;
    padding: 20px;
    background-color: #457de6;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header div#title {
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

#day-night-button button{
    padding: 10px;
    width: 70px;
    height: 50px;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;
    color: white;
}

/*body of the page*/

main#timer-zone {
    margin: 60px auto;
    padding: 20px;
    width: 500px;
    position: relative;
    background-color: #457de6;
    border-radius: 30px;
}

#viewer {
    border: 2px solid transparent;
    padding: 20px;
    width: 300px;
    margin: 10px auto;
    text-align: center;
    color: white;
    font-size: 50pt;
}

#time-for-select {
    margin: 5px auto;
    padding: 20px;
    text-align: center;
}

#time-for-select input {
    width: 100px;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid white;
    background-color: #457de6;
    color: white;
    font-size: 14px;
    transition: .6s;
}

#time-for-select input:hover {
    border-color: #192d52;
}

#time-for-select input::placeholder {
    color: #ffffff;
}

#iteration-buttons {
    margin: 10px auto;
    text-align: center;
}

#iteration-buttons button {
    cursor: pointer;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    background-color: #457de6;
    margin: 0 5px;
    padding: 10px;
    font-size: 15px;
    width: 100px;
    transition: .6s;
}

#iteration-buttons button:hover {
    color: #457de6;
    background-color: white;
    border-bottom-color: #192d52;
}

/*Footer*/

#footer {
    margin: 0px 20px;
    padding: 5px;
    position: relative;
    text-align: justify;
    background-color: #457de6;
}

#infos {
    color: white;
    font-size: 12pt;
}

#infos p {
    margin: 5px;
}
#copyrights {
    text-align: center;
}

/*Mobile*/

@media (max-width: 700px) {
    /*Header*/
    
    #header div#title {
        font-size: 9px;
    }

    /*Body of the page*/

    main#timer-zone {
        width: 300px;
    }

    #viewer {
        width: 200px;
        font-size: 40px;
    }

    #time-for-select input {
        width: 50px;
    }

    #time-for-select button {
        width: 60px;
    }

}